@charset "UTF-8";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
    overflow: hidden;
}

body{
    height:100vh;
}

.container{
    display:flex;
    height:100vh;
    justify-content: center; 
    align-items: center;
}
.form-container{
    background-color: white;
    width: 500px;
    margin: 80px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
}


.right{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:80px;
}

.tabs{
    display:flex;
    margin-bottom:40px;
    justify-content: center; 
    align-items: center;
}

.tab{
    width:250px;
    background:none;
    border:none;
    border-bottom:2px solid #7d7d7d;
    padding:15px;
    cursor:pointer;
    font-size:24px;
    color:#7d7d7d;
}

.tab:hover{
    color:black;        
}

.active{
    color: black;
    border-bottom:3px solid black;
}

h2{
    margin-bottom:30px;
}

label{
    display:block;
    margin-top:20px;
}

input{
    width:100%;
    padding:15px;
    margin-top:10px;
    border:1px solid #ddd;
}

.submit-btn{
    width:100%;
    background:black;
    color:white;
    border:none;
    padding:18px;
    margin-top:40px;
    cursor:pointer;
    font-size:16px;
}

.error{
    color: red;
    margin-bottom: 15px;
}
.required::after {
    content: "必須";
    color: #ffffff;
    background: #cc0000;
    font-size: 0.8em;
    padding: 0.3em;
    border-radius: 0.5em;
    margin-left: 0.3em;
}