@charset "UTF-8";
form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
}

.date {
    margin-top:50px;
    margin-left:100px;
   
   background-color: rgb(180, 58, 233);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    margin: 20px;
}

