@charset "UTF-8";

/* 全体 */
/* html {
    background-color: #dcdcdc;
    font-family: sans-serif;
    font-size: 16px;
} */

/* 中央揃え */
body {
    margin: 0 0 0 0;
}

main {
    margin: 50px auto;
    padding: 10px 25px;
    max-width: 550px;
    background-color: #ffffff;
    border-left: 10px solid #393939;
    /* border-right: 5px solid #393939; */
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
}

/* ボタン設計 */
button {
    border: none;
    padding: 0;
    background-color: #ffffff;
}

img {
    width: 30px;
    vertical-align: middle;
}

input[type="submit"] {
    border: none;
    background-color: #393939;
    color: #ffffff;
}

input[type="submit"]:visited {
    border: none;
    background-color: #393939;
    color: #ffffff;
}

input[type="submit"]:hover {
    border: none;
    background-color: #606060;
    color: #ffffff;    
}

input[type="submit"]:active {
    border: none;
    background-color: #393939;
    color: #ffffff;    
}

a:link {
    text-decoration: none;
    background-color: #dcdcdc;
    color: #000000;
}

a:hover {
    text-decoration: none;
    background-color: #f2f2f2;
    color: #000000;
}

a:visited {
    text-decoration: none;
    background-color: #dcdcdc;
    color: #000000;
}

a:active {
    text-decoration: none;
    background-color: #dcdcdc;
    color: #000000;
}

.cancel_create_btn {
    text-align: center;
}

input[type="submit"], .cancel_btn {
    width: 100px;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
}

/* input:text設定 */
input[type="text"] {
    width: 200px;
    height: 20px;
}

/* バンド名 */
.band_name {
    margin: 25px 0px auto auto;
}

.live_name, .set_date {
    font-weight: bold;
}

.required, .error {
    font-weight: normal;
}

/* バンド情報 */
.band_info {
    margin: 40px 0px;
    text-align: left;
}

/* 空欄エラー */
.error {
    text-align: center;
    font-size: 12px;
}